doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css?v=" + version)
        title Document
    body 
        p.bg-red-200 hello world2

        script(src="/js/main.js?v=" + version)